@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

header {
    max-width: 86rem;
    margin: 0 auto;
}

/*region nav*/

nav {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

nav > .left, nav > .right {
    display: flex;
    align-items: center;
}

/*region left*/

nav .left > .brand {
    margin-right: 40px;
}

/*endregion*/

/*region right*/

nav .right .menu-btn > a, nav .right .menu-btn > button {
    font-weight: 400;
    color: #000;
    text-decoration: none;
    padding: 13px 23px;
    border-radius: 14px;
    margin-left: 20px;
}

nav .right .menu-btn > a {
    background: #eeeeeb;
}

nav .right .menu-btn > button {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background: #000;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .3s linear;
}

nav .right .menu-btn > button:hover {
    background-color: #191c1f;
}

nav .right .menu-btn > a:active, nav .right .menu-btn > button:active {
    position: relative;
    top: 1px;
}

/*endregion*/

/*region menu items*/

nav .menu-item {
    position: relative;
    margin: 0 20px;
}

nav .menu-item > a {
    color: #000;
    text-decoration: none;
    opacity: .5;
    transition: opacity .2s ease-in-out;
}

nav .menu-item > a:hover {
    opacity: 1;
}

nav .menu-item > a.active {
    opacity: 1;
    font-weight: 400;
}

/*endregion*/

/*region dropdown menu*/

nav .menu-item > .drop-menu {
    position: absolute;
    top: 38px;
    left: -170px;
    background-color: #FFFFFC;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    padding: 20px;
    display: none;
}

nav .menu-item > .drop-menu.active {
    display: flex;
}

nav .menu-item .drop-menu > .drop-menu-section {
    display: flex;
    flex-direction: column;
}

nav .menu-item .drop-menu#features > .drop-menu-section {
    width: 200px;
}

nav .menu-item .drop-menu .drop-menu-section > .title {
    font-size: .72rem;
    font-weight: 600;
    letter-spacing: .09rem;
    color: #ced5da;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

nav .circle {
    width: 25px;
    height: 25px;
    color: #FFFFFC;
    background: #CCD5DA;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .circle > svg {
    width: 18px;
    height: auto;
}

nav .menu-item .drop-menu .drop-menu-section > .menu-item {
    margin: 15px 0;
}

nav .menu-item .drop-menu .drop-menu-section .menu-item > a {
    font-weight: 400;
    color: #8d9aa2;
    opacity: 1;
    transition: color .2s ease-in-out;
}

nav .menu-item .drop-menu .drop-menu-section .menu-item > a:hover {
    color: #000;
}

nav .menu-item .drop-menu .drop-menu-section .menu-item.disabled > span {
    position: relative;
    color: #cdcecd;
}

nav .menu-item .drop-menu .drop-menu-section .menu-item.disabled > span:after {
    position: absolute;
    top: -9px;
    right: -35px;
    font-size: .5rem;
    color: #3d8ffc;
    content: "coming soon";
    letter-spacing: .07rem;
    text-transform: uppercase;
    display: block;
}

/*endregion*/

/*endregion*/