@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

header,
#jumbo {
    max-width: 86rem;
    margin: 0 auto;
}

button:active, input[type="submit"]:active {
    position: relative;
    top: 1px;
}

input[type="tel"]:invalid {
    box-shadow: none;
    color: #FF0000;
}

input[type="submit"]:disabled:active {
    position: static;
}

/*region nav*/

nav {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

nav > .left, nav > .right {
    display: flex;
    align-items: center;
}

/*region left*/

nav .left > .brand {
    margin-right: 40px;
}

/*endregion*/

/*region right*/

nav .right .menu-btn > a, nav .right .menu-btn > button {
    font-weight: 400;
    color: #000;
    text-decoration: none;
    padding: 13px 23px;
    border-radius: 14px;
    margin-left: 20px;
}

nav .right .menu-btn > a {
    background: #eeeeeb;
}

nav .right .menu-btn > button {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background: #000;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .3s linear;
}

nav .right .menu-btn > button:hover {
    background-color: #47494c;
}

nav .right .menu-btn > a:active {
    position: relative;
    top: 1px;
}

/*endregion*/

/*region menu items*/

nav .menu-item {
    position: relative;
    margin: 0 20px;
}

nav .menu-item:after {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

nav .menu-item > a {
    color: #000;
    text-decoration: none;
    opacity: .5;
    transition: opacity .2s ease-in-out;
}

nav .menu-item > a:hover {
    opacity: 1;
}

nav .menu-item > a.active {
    opacity: 1;
    font-weight: 400;
}

/*endregion*/

/*region dropdown menu*/

nav .menu-item > .drop-menu {
    position: absolute;
    top: 38px;
    left: -50px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    padding: 20px;
    display: none;
    z-index: 1;
}

nav .menu-item > .drop-menu.active {
    display: flex;
}

nav .menu-item > .drop-menu#features {
    left: -170px;
}

nav .menu-item .drop-menu > .drop-menu-section {
    display: flex;
    flex-direction: column;
}

nav .menu-item .drop-menu#features > .drop-menu-section {
    width: 200px;
}

nav .menu-item .drop-menu .drop-menu-section > .title {
    font-size: .72rem;
    font-weight: 600;
    letter-spacing: .09rem;
    color: #ced5da;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

nav .circle {
    width: 25px;
    height: 25px;
    color: #FFFFFC;
    background: #CCD5DA;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .circle > svg {
    width: 16px;
    height: auto;
}

nav .menu-item .drop-menu .drop-menu-section > .menu-item {
    margin: 15px 0;
}

nav .menu-item .drop-menu .drop-menu-section .menu-item > a {
    font-weight: 400;
    color: #8d9aa2;
    opacity: 1;
    white-space: nowrap;
    transition: color .2s ease-in-out;
}

nav .menu-item .drop-menu .drop-menu-section .menu-item > a:hover {
    color: #000;
}

nav .menu-item .drop-menu .drop-menu-section .menu-item.disabled > span {
    position: relative;
    color: #cdcecd;
}

nav .menu-item .drop-menu .drop-menu-section .menu-item.disabled > span:after {
    position: absolute;
    top: -9px;
    right: -35px;
    font-size: .5rem;
    color: #3d8ffc;
    content: "coming soon";
    letter-spacing: .07rem;
    text-transform: uppercase;
    display: block;
}

/*endregion*/

/*endregion*/

/*region jumbo*/

section#jumbo {
    display: flex;
}

section#jumbo >  .inner-jumbo {
    width: 50%;
    padding: 100px 20px;
}

section#jumbo .inner-jumbo > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.7rem;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 30px;
}

section#jumbo .inner-jumbo > p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #88959e;
    width: 80%;
    line-height: 30px;
}

/*region form*/

section#jumbo .inner-jumbo > form {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

section#jumbo .inner-jumbo form .prefix {
    position: relative;
    width: 12%;
    margin-right: 15px;
}

section#jumbo .inner-jumbo form > .number {
    position: relative;
    width: 30%;
    margin-right: 15px;
}

section#jumbo .inner-jumbo form .prefix > select,
section#jumbo .inner-jumbo form .number > input[type="tel"] {
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid #cdd2d5;
    outline: none;
}

section#jumbo .inner-jumbo form .prefix > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 4px 0;
    cursor: pointer;
}

section#jumbo .inner-jumbo form .prefix > svg {
    position: absolute;
    top: 50%;
    right: 0;
    width: 28px;
    padding: 0.2rem;
    stroke-width: 0;
    transform: translateY(-50%) rotateX(180deg) rotateZ(90deg);
    pointer-events: none;
}


section#jumbo .inner-jumbo form .number > label[for="phone-number"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #8b8e8e;
    pointer-events: none;
}

section#jumbo .inner-jumbo form .number > label[for="phone-number"].onfocusin {
    animation: moveontop .4s ease-in;
    animation-fill-mode: forwards;
}

section#jumbo .inner-jumbo form .number > label[for="phone-number"].onfocusout {
    animation: moveatorigin .4s ease-out;
    animation-fill-mode: forwards;
}

@keyframes moveontop {
    from {
        top: 50%;
        left: 0;
        transform: translateY(-50%) scale(1);
    }

    to {
        top: -20px;
        left: -13px;
        transform: scale(0.75);
    }
}

@keyframes moveatorigin {
    from {
        top: -20px;
        left: -13px;
        transform: scale(0.75);
    }

    to {
        top: 50%;
        left: 0;
        transform: translateY(-50%) scale(1);
    }
}

section#jumbo .inner-jumbo form .prefix.onfocusin:after,
section#jumbo .inner-jumbo form .number.onfocusin:after,
section#jumbo .inner-jumbo form .prefix.onfocusout:after,
section#jumbo .inner-jumbo form .number.onfocusout:after{
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    background: #0075eb;
    display: block;
}

section#jumbo .inner-jumbo form .prefix.onfocusin:after,
section#jumbo .inner-jumbo form .number.onfocusin:after {
    animation: grow .3s ease-in;
    animation-fill-mode: forwards;
}

section#jumbo .inner-jumbo form .prefix.onfocusout:after,
section#jumbo .inner-jumbo form .number.onfocusout:after {
    animation: shrink .3s ease-out;
}

@keyframes grow {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes shrink {
    from { width: 100%; }
    to { width: 0; }
}

section#jumbo .inner-jumbo form .number > input[type="tel"] {
    width: 100%;
    padding: 5px 0;
}

section#jumbo .inner-jumbo form > input[type="submit"] {
    font-size: 1.3rem;
    font-weight: 600;
    width: 25%;
    color: #fff;
    background: #000;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

section#jumbo .inner-jumbo form > input[type="submit"]:disabled {
    color: #919293;
    background: #47494c;
    cursor: not-allowed;
}

/*endregion*/

section#jumbo .inner-jumbo .sub-description {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

section#jumbo .inner-jumbo .sub-description > svg {
    width: 20px;
}

section#jumbo .inner-jumbo .sub-description > p {
    margin-left: 20px;
}

/*region player*/
section#jumbo .inner-jumbo > .player {
    position: relative;
    width: 80%;
}

section#jumbo .inner-jumbo .player > img {
    position: relative;
    top: -50px;
    width: 100%;
}

section#jumbo .inner-jumbo .player .play-btn {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translateX(-45%);
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section#jumbo .inner-jumbo .player .play-btn > svg {
    margin-left: 5px;
}

section#jumbo .inner-jumbo > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    justify-content: center;
    align-items: center;
    display: none;
}

section#jumbo .inner-jumbo .overlay > button.close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    background: none;
    border: 1px solid #cdd2d5;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#jumbo .inner-jumbo .overlay button.close > svg {
    color: #47494c;
    font-size: 1.8rem;
}
/*endregion*/

/*endregion*/